  <% form_for @person, :html => { :id => "change_password" } do |f| %>

    <div class="form_row">

      <%= f.hidden_field :login_reset_key,
	  :value => @reset_key %>

    <div class="form_row">
      <label for="password">New Password</label>
      <%= f.password_field :new_password,
                           :size => 34,
                           :maxlength => Person::MAX_PASSWORD %>
    </div>

    <div class="form_row">
      <label for="password_confirmation">Confirm Password</label>
      <%= f.password_field :password_confirmation,
                           :size => 34,
                           :maxlength => Person::MAX_PASSWORD,
                           :value => "" %>
    </div>
    <div class="form_row">
      <%= submit_tag 'Change password', :class => "button" %>
    </div>
    <input type="hidden" name="type" value="password_edit" />
  <% end %>
