<body>
Someone (hopefully you) requested a password reset for the account <%= @person.email -%> at SFBACE.
<p/>
If that was you, please <%= link_to('click here', @person.password_reset_link) -%> and follow the instructions to reset your password.
<p/>
If it wasn't you, you may ignore this message or report it to the webmaster.
</body>