jQuery('.blankslate').fadeOut();
jQuery('.bids').append('<%= escape_javascript(render(:partial => @bid)) %>');
<% flash.each do |key, msg| %>
  jQuery('#new_bid').before("<div id='flash_<%= key %>'><%= escape_javascript(flash.delete(key)) %></div>");
  jQuery('#flash_<%= key %>').fadeOut(5000);
<% end %>     
jQuery('#new_bid')[0].reset();
jQuery('span.wait').hide();
