<p class='formatting'>Hold down the command key (on a Mac) <br />or the control key (on Windows) <br />to select multiple categories.</p>
<%=
    collection_select( model_name,
                      'category_ids',
                      @all_categories,
                      :id,
                      :long_name,
                      {},
                      {:multiple => true, :size => '10'}
                      )
%>
