<div class="welcome">
<%= display global_prefs.short_about %>
</div>
<% unless global_prefs.gmail.blank? -%>
     <%= render :partial => 'shared/calendar', :object => global_prefs.gmail %>
<%- end -%>
<%= render :partial => 'shared/minifeed' %>
