<tr class="subcategories" >
  <td>
    <div class=categoryMenuItem">
      <%= h(neighborhood.name) %>
    </div>
  </td>
  <td class="categorynumbercell">
  </td>
  <td class="categorynumbercell">
  </td>
  <td  class="categorynumbercell">
    <% if neighborhood.active_people.length  > 0 -%>
    <a class="categoryMenuItem" href="/neighborhoods/<%= neighborhood.id %>/people">
    <%= neighborhood.active_people.length %>
  </a>
  <% end -%>
</td>
</tr>
<% unless neighborhood.children.empty? -%>
<%= render :partial => 'subneighborhood', :collection => neighborhood.children %>
<% end -%>
