<tr class="subcategories">
  <td class="subneighborhoodname" >
    <div class=categoryMenuItem"><%= h(subneighborhood.name) %></div>
				</td>

<td  class="categorynumbercell">
  <% if subneighborhood.reqs.current_and_active.length  > 0 -%>
  <a class="categoryMenuItem" href="/neighborhoods/<%= subneighborhood.id %>/reqs">
    <%= subneighborhood.reqs.current_and_active.length %>
  </a>
  <% end -%>
</td>
</tr>
<% if !subneighborhood.children.empty? %>
<%= render :partial => 'subneighborhood', :collection => subneighborhood.children %>
<% end %>

