<tr class="subcategories">
  <td class="subcategoryname" >
    <div class=categoryMenuItem"><%= h(subneighborhood.name) %></div>
  </td>

<td  class="categorynumbercell">
</td>
<td  class="categorynumbercell">
</td>
  <td  class="categorynumbercell">
    <% if subneighborhood.people.length  > 0 -%>
    <a class="categoryMenuItem" href="/neighborhoods/<%= subneighborhood.id %>/people">
    <%= subneighborhood.people.length %>
  </a>
  <% end -%>
</td>


</tr>
<% if !subneighborhood.children.empty? %>
<%= render :partial => 'subneighborhood', :collection => subneighborhood.children %>
<% end %>

