<div class="categorycol">
  <%- if @top_level_neighborhoods.empty? -%>
  <h3 class="blankslate">No neighborhoods (yet!)</h3>
  <%- else -%>
  <% total = @top_level_neighborhoods.length %>
  <% halfish = (total/2.0).ceil %>
  <table id="categoryMenu" class="neighborhoods">
    <tbody>
      <tr class="neighborhoods">
        <td>
        </td>
        <td>Requests</td>
        <td>Offers</td>
        <td>Providers</td>
      </tr>
      <%= render :partial => 'neighborhood', :collection => @top_level_neighborhoods[0,halfish] %>
    </tbody>
  </table>
  <table id="categoryMenu2" class="neighborhoods">
    <tbody>
      <tr class="neighborhoods">
        <td>
        </td>
        <td>Requests</td>
        <td>Offers</td>
        <td>Providers</td>
      </tr>
      <%= render :partial => 'neighborhood', :collection => @top_level_neighborhoods[-(total-halfish),(total-halfish)] %>
    </tbody>
  </table>


  <%- end -%>
</div>
